<div class="dashboard">
  <%= render 'shared/banner' %>
  <div class="container">
    <div class="row center">
      <div class="content-section col-xs-12">
        <div class="section-header">
        </div>
        <div class="section-body">
          <div class="btn-group">
            <%= link_to '司庆报名', new_member_path, class: 'btn btn-primary' %>
            <%= link_to '登录', JS_VOID, class: 'btn btn-primary' %>
            <%= link_to '照片下载', JS_VOID, class: 'btn btn-primary' %>
            <%= link_to '司庆大事记', JS_VOID, class: 'btn btn-primary' %>
            <%= link_to '游戏介绍', JS_VOID, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
