<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag('favicon.ico') %>
    <title>celebrate_company</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= layout_helper_class %>">
    <%= render 'common/navbar' %>
    <div class="admin-container container">
      <div class="col-md-10 col-md-offset-1">
        <%= render "common/flashes" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
